.well-known
.htaccess
.htaccess.bk
/index.php
*.txt
/uploads/cache/*
/uploads/backgrounds/*
/uploads/qrcode/*
/database
/app/config/config.php
/app/config/app
/themes/altum/views-x
/vendor.beckup/
*.log
/.vscode
.DS_Store
.env
.env.backup
*.zip

